



@import "node_modules/nord/src/nord.css";


 * {
  scrollbar-color: var(--nord3) var(--nord0);
}





.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused,
.button-link,
.button-flat:hover,
.itemAction:focus,
.emby-tab-button-active > .emby-button-foreground,
.emby-button-foreground:focus,
.mdl-slider,
.headerRight,
.headerLeft,
.button-link,
.upNextDialog-countdownText {
  color: var(--nord15);
}

.buttonActive,
.button-accent-flat,
.metadataSidebarIcon,
.layout-tv .paper-icon-button-light.show-focus:focus,
.mdl-radio.show-focus .mdl-radio__button:focus + .mdl-radio__circles .mdl-radio__inner-circle,
.mdl-radio.show-focus .mdl-radio__button:focus + .mdl-radio__circles .mdl-radio__outer-circle {
  color: var(--nord15) !important;
}

.mdl-radio__focus-circle {
  background: var(--nord15);
}

.layout-tv .emby-button:not(.emby-tab-button).show-focus:focus {
  background: var(--nord15) !important;
}

.iconOsdProgressInner,
.mdl-slider-background-lower {
  background-color: var(--nord15);
}
.mdl-slider::-moz-range-thumb {
  background-color: var(--nord15);
}
.mdl-slider::-webkit-slider-thumb {
  background-color: var(--nord15);
}

.itemProgressBar.playbackProgress .itemProgressBarForeground {
  background-color: var(--nord15) !important;
}

.emby-checkbox:focus:not(:checked) + span + .checkboxOutline,
.mdl-spinner__layer,
.itemSelectionPanel {
  border-color: var(--nord15);
}

.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus {
  border-color: var(--nord15) !important;
}

.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground {
  color: var(--nord5);
  background-color: var(--nord15);
  border-color: var(--nord15);
}

.button-cancel,
.button-cancel:focus {
  color: var(--nord15);
  background: var(--nord1);
}

.paper-icon-button-light:hover:not(:disabled),
.paper-icon-button-light:active:not(:disabled),
.listItem:hover,
.listItem:focus,
.navMenuOption:hover,
.navMenuOption:focus {
  color: var(--nord15) !important;
  background-color: var(--nord3) !important;
}

.selectionCommandsPanel > button > .material-icons,
.checkboxOutline .checkboxIcon-checked {
  color: var(--nord1);
}

.selectionCommandsPanel .itemSelectionCount,
.layout-tv .emby-button:not(.emby-tab-button).show-focus:focus .listItem,
.layout-tv .emby-button:not(.emby-tab-button).show-focus:focus .listItemBodyText {
  color: var(--nord1) !important;
}

.button-submit,
.button-submit:focus,
.button-alt,
.button-alt:focus,
.submit,
.submit:focus,
#btnAddPerson,
#btnAddPerson:focus,
.btnAddTrigger,
.btnAddTrigger:focus,
.btnAddUser,
.btnAddUser:focus,
::selection {
  color: var(--nord1);
  background: var(--nord15);
}
::-moz-selection {
  color: var(--nord1);
  background: var(--nord15);
}

.indicator,
.selectionCommandsPanel,
.btnRefresh,
.programCell:focus,
div[data-role="controlgroup"] a.ui-btn-active {
  color: var(--nord1) !important;
  background-color: var(--nord15) !important;
}

#btnShutdown,
#deviceDeleteAll,
.btnDeleteImage,
.btnResetPassword {
  color: var(--nord1) !important;
  background: var(--nord11) !important;
}

.playedIndicator {
  color: var(--nord1);
  background-color: var(--green-color);
}

.backdropContainer,
.mainDrawer,
.cardBox,
.paperList {
  background: var(--nord1);
}

.emby-select-withcolor > option,
.backgroundContainer,
.nowPlayingPlaylist,
.collapseContent {
  background-color: var(--nord1);
}

.formDialogHeader,
.dialog,
.dashboardGeneralForm,
html {
  color: var(--nord5);
  background-color: var(--nord1);
}

.detailRibbon,
.backgroundContainer.withBackdrop {
  background-color: #3b4252dd;
}

.devicesList .cardContent.defaultCardBackground,
.cardContent.defaultCardBackground:has(.sessionNowPlayingContent) {
  background-color: var(--nord0) !important;
}

.playlistSectionButton,
.noBackdropTransparency .detailPagePrimaryContainer {
  background: var(--nord0);
}

.emby-input,
.emby-textarea,
.emby-select {
  background: var(--nord0);
  border-color: var(--nord0);
}

.iconOsd,
.logoScreenSaver,
.programCell-active,
.cardContent.defaultCardBackground,
.cardContent .defaultCardBackground,
.detailPageSecondaryContainer {
  background-color: var(--nord0) !important;
}

.sliderBubble,
.skinHeader:not(.osdHeader),
.listItemIcon:not(.listItemIcon-transparent),
.infoBanner,
.nowPlayingBar {
  color: var(--nord5);
  background-color: var(--nord0) !important;
}

div[data-role="controlgroup"] .emby-button,
.fab,
.toast,
.raised {
  color: var(--nord5) !important;
  background-color: var(--nord0) !important;
}

.alphaPickerButton {
  color: var(--nord3);
}

.mediaInfoText {
  background: var(--nord3);
}

.iconOsdProgressOuter,
.mdl-slider-background-flex,
.formDialogHeader:not(.formDialogHeader-clear),
.formDialogFooter:not(.formDialogFooter-clear),
.cardBox:not(.visualCardBox) .cardPadder {
  background-color: var(--nord3);
}

.itemProgressBar.backgroundProgress .itemProgressBarForeground {
  background-color: var(--nord3) !important;
}

.listItem-border {
  border-color: var(--nord3) !important;
}

.sectionTitle,
.cardText,
.pageTitle,
.detailSectionContent,
.trackSelections,
.emby-input,
.checkboxLabel,
.itemDetailsGroup,
.checkboxOutline,
.emby-textarea,
.emby-select,
.label,
.selectLabel,
.sidebarHeader,
.listItem,
.listItemBodyText,
.dashboardGeneralForm,
.dashboardSections,
.navMenuOption,
.inputLabel,
.content-primary,
.itemName,
.searchfields-icon,
.paper-icon-button-light,
.emby-button-foreground,
.iconOsd .iconOsdIcon,
.upNextContainer,
.selectionCommandsPanel > button:hover > .material-icons,
.paperListLabel,
legend {
  color: var(--nord5);
}

.mediaInfoOfficialRating,
.guideProgramNameCaretIcon,
.mediaInfoItem,
.listItemButton,
.checkboxListLabel,
.lnkMediaFolder {
  color: var(--nord5) !important;
}

.alphaPickerRow,
.devices-subheader,
.cardText-secondary,
.nowPlayingBarSecondaryText {
  color: var(--nord4);
}

.fieldDescription,
.alphaPickerButton-selected,
.secondary {
  color: var(--nord4) !important;
}

.mdl-slider-background-upper {
  background-color: var(--nord4);
}

.osdTextContainer,
.osdTimeText,
.transparentDocument .paper-icon-button-light,
.transparentDocument .pageTitle,
.cardOverlayContainer .paper-icon-button-light,
.sessionAppName,
.sessionNowPlayingInfo,
.sessionNowPlayingTime {
  color: var(--nord6);
}

.playstatebutton-icon-played,
.ratingbutton-icon-withrating {
  color: var(--nord11);
}

.notification_important {
  color: var(--nord11) !important;
}

.notifications {
  color: var(--nord7) !important;
}

.starIcon {
  color: var(--nord13);
}
